<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>

<p>Jobs by Interest<p>
<% @group_by_interest.each do |interest_level, count| %>
<p><%= "#{interest_level} Star Rating: (#{count}) Job(s)"%></p>
<% end %>
</br>
</br>
<p>Top Three Companies by Interest</p>
<% @top_three.each do |company| %>
<p><%= company.name %> (<%= company.avg_of_interest %>)</p>
<% end %>
</br>
</br>
<p>Jobs by City</p>
<% @city_count.each do |city, count| %>
<p><%= link_to "#{city}", "/jobs?location=#{city}" %><%= "(#{count} jobs)" %></p>
<% end %>
