
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Job Title: <%= @job.title %>
      </h1>
      <h2 class="subtitle">
        Company: <%= link_to @job.company.name, company_path(@job.company) %> </br>
      </h2>
    </div>
  </div>
</section>

</br>
Description: <%= @job.description %></br></br>

Level of Interest: <%= @job.level_of_interest %></br></br>

City: <%= @job.city %></br></br>

Category: <%= link_to @job.category.title, category_path(@job.category) %> </br></br></br>

<%= link_to "Edit Job", edit_job_path(@job)%></br></br>

<%= link_to "Delete Job", job_path(@job), method: :delete, data: {confirm: "Really delete the job?"} %></br></br>

<%= link_to "Back to #{@job.company.name}", company_path(@job.company)%></br></br>

<%= render partial: 'comments/form' %>

<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
