<%= form_for [@company, @contact] do |f| %>
<p>
  <%= f.label :name %><br/>
  <%= f.text_area :name %>
</p>
<p>
  <%= f.label :role %><br/>
  <%= f.text_area :title %>
</p>
<p>
  <%= f.label :email %><br/>
  <%= f.text_area :email %>
</p>
<p>
  <%= f.submit 'Save' %>
</p>
<% end %>
