<h1><%=@company.name%></h1>

<% if @company.jobs.count > 0 %>
    Jobs for <strong><%= @company.name %></strong>
    <% @company.jobs.each do |job| %>
      <ul><%=link_to "#{job.title}", company_job_path(@company, job)%></ul>
    <% end %>
<% else %>
    <h3>0 Jobs Listed</h3>
<% end %>

<%= render partial: 'contacts/form' %>

<%= render partial: 'companies/contact', collection: @company.contacts.reverse %>

<p><%= link_to "Create A Job", new_company_job_path(@company)%></p>
<p><%= link_to "See All Companies", companies_path%></p>
